@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
//CESAR EDUARDO HERNANDEZ ALVARADO
//CARNET 5190-18-7385
//PROYECTO DE SEMINARIO DE PRIBADO "ANALIS Y DESARROOLLO DE SISTEMAS"
//SEMINARIO DE PRIVADOS DE ANTIGUA GUAMTEMALA
//PROYECTO DE VISITAS TECNICAS DE SKYNET S.A
-->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>