@model Web.Models.Cliente
@{
    ViewData["Title"] = "Eliminar Cliente";
}

<!--
//CESAR EDUARDO HERNANDEZ ALVARADO
//CARNET 5190-18-7385
//PROYECTO DE SEMINARIO DE PRIBADO "ANALIS Y DESARROOLLO DE SISTEMAS"
//SEMINARIO DE PRIVADOS DE ANTIGUA GUAMTEMALA
//PROYECTO DE VISITAS TECNICAS DE SKYNET S.A
-->
<h2>Eliminar Cliente</h2>

<div class="alert alert-warning">
    ¿Eliminar definitivamente el cliente <strong>@Model.Nombre</strong>?
</div>

<form asp-action="Eliminar" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>